/* 
colores:
	naranja:    FF5533
	rojo:       E64E30
	azul:       3A8AC0
	amarillo    FFB52D
	gris:		4C4C4C

fuentes:
	font-family: 'Pacifico', cursive;
	font-family: 'Kaushan Script', cursive;
*/

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 20px;
}

body {
    background-color: white;
}

/* clases generales*/

.icono-normal {
    width: 30px;
    height: 30px;
}

/* clases generales*/

.nav-mobile {
    height: 70px;
    background-color: #FFB52D;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    padding-top: 9px;
}

.block-text {
    width: 50%;
}

.block-icon {
    text-align: center;
    width: 170px;
    padding: 7px;
    padding-right: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto {
    font-size: 1.5em;
    color: white;
}

.info {
    margin-left: 15px;
}

.nav-mobile-group {
    padding-top: 55px;
    background-color: #FFB52D;
    min-width: 200px;
    height: 100vh;
    max-width: 250px;
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 1;
}

.nav-mobile-group > ul > li {
    padding: 10px;
    display: flex;
    align-items: center;
}

.nav-mobile-group > ul > li:nth-child(1) {
    text-align: center;
    padding: 20px;
    display: block;
}

.details {
    width: 15px;
    height: 15px;
    margin: 5px;
}

.nav-mobile-group > ul > li > a {
    color: white;
    text-decoration: none;
}

.nav-mobile-group > ul > li > a:hover {
    color: #3A8AC0;
}

.nav-mobile-group > ul > li:nth-child(1) > img {
    width: 200px;
}

.nav-desktop {
    background-color: #FFB52D;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

.nav-desktop > .bloqueA {
    width: 140px;
}

.nav-desktop > .bloqueA > img {
    display: block;
    width: 100%;
}

.nav-desktop > .bloqueB {
    text-align: right;
    width: 100%;
}

.nav-desktop > .bloqueB > a {
    margin: 10px;
    padding: 5px;
    color: white;
    text-decoration: none;
}

.nav-desktop > .bloqueB > a:hover {
    color: #3A8AC0;
}

.nav-mobile {
    display: none;
    z-index: 100;
}

.nav-mobile-group {
    display: none;
    z-index: 99;
}

/*fin navegador*/

.section {
    padding: 20px;
}

.bloque1 {
    margin-top: 70px;
    background-image: url(../img/rene_egli_sotavento_fuerteventura.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding: 0;
}

.bloque1 > h1 {
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    font-size: 2em;
    padding: 50px;
    color: #4C4C4C;
}

.bloque1 > h1 > span {
    font-size: 2.3em;
}

.tituloNombre {
    font-family: 'Kaushan Script', cursive;
    font-size: 1.5em;
    padding-top:40px;
    text-align: center;
    margin-bottom: 20px;
}

.section:nth-child(2n) {
    background-color: white;
}

.section > div > img {
    display: block;
    margin: auto;
}

.bloque2{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	padding-bottom: 50px;
	padding-top: 0;
	
	background-image: url(../img/beach-dunes-sand-34061.jpg);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.bloque2 > div{
	width: 700px;
	text-align: center;
}

.flexslider {
	background-color: rgba(255,255,255,0.5);
    max-width: 50%;
	height: 300px;
}

.flex-caption {
    width: 100%;
    left: 0;
    bottom: 0;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
    font-size: 1.2em;
    color: black;
    font-family: 'Kaushan Script', cursive;
    text-align: center;
    padding: 5px;
}

.bloque3 {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-top: 30px;
	padding-bottom: 30px;
}

.bloque3 > div{
	width: 50%;
	max-width: 900px;
	text-align: center;
}

.playistas{
    display: block;
    width: 100%;
    max-width: 810px;
    height: 110vh;
    margin: auto;
    border: none;
}

.bloque4 > h1{	
	font-family: 'Kaushan Script', cursive;
	text-align: center;
	padding: 30px;
}

@media only screen and (max-width: 800px) {
    .nav-mobile {
        display: block;
    }

    .nav-mobile-group {
        display: block;
    }

    .nav-desktop {
        display: none;
    }

    .container {
        margin-top: 50px;
    }

    .flexslider {
        max-width: 100%;
		height: auto;
    }
	
	.bloque3 > div{
		width: 100%;
	}
	
	.bloque2{
		background-image: url(../img/beach-bird-s-eye-view-ocean-35626.jpg);
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
}
