.section1{	
	padding-top: 80px;
	background-image: url(../img/beach-dawn-dusk-189349.jpg);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items:flex-start;
    padding-bottom: 30px;
}

p{
	display: block;
	width: 100%;
	max-width: 900px;
	background-color: rgba(255, 218, 185,0.2);
	text-align: justify;
	padding: 10px;
	margin: 10px;
}

span{
	display: block;
	font-size: 2em;
}

.tituloNombre{
    text-align:left; 
    font-size: 2em;
}

.volver{
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: rgba(255,255,255,0.2);
    padding: 10px;
}

.volver > img{
    width: 100%;
    height: 100%;
}

.volver:hover{
    transition: all .1s;
    background-color: rgba(255,255,255,0.4);
}

@media only screen and (max-width: 800px) {   	
	.section1{
		background-image: url(../img/beach-bird-s-eye-view-ocean-35626.jpg);
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}
}
