/* 
colores
naranja:    FF5533
rojo:       E64E30
azul:       3A8AC0
amarillo    FFB52D
*/

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 20px;
}

body {
    background: grey;
    height: 100vh;
}

/* clases generales*/

.icono-normal {
    width: 30px;
    height: 30px;
}

/* clases generales*/

.nav-mobile {
    background-color: #E64E30;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}

.block-text {
    width: 50%;
}

.block-icon {
    text-align: center;
    width: 170px;
    padding: 7px;
    padding-right: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto {
    font-size: 1.5em;
    color: white;
}

.info {
    margin-left: 15px;
}


.nav-mobile-group {
    padding-top: 40px;
    background-color: #FFB52D;
    min-width: 200px;
    height: 100vh;
    max-width: 250px;
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 1;
}

.nav-mobile-group > ul > li {
    padding: 10px;
    display: flex;
    align-items: center;
}

.nav-mobile-group > ul > li:nth-child(1) {
    text-align: center;
    padding: 20px;
    display: block;
}

.details {
    width: 15px;
    height: 15px;
    margin: 5px;
}

.nav-mobile-group > ul > li > a {
    color: white;
    text-decoration: none;
}

.nav-mobile-group > ul > li > a:hover {
    color: #3A8AC0;
}

.nav-mobile-group > ul > li:nth-child(1) > img {
    width: 200px;
}

.nav-desktop {
    background-color: #3A8AC0;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}

.nav-desktop > .bloqueA {
    width: 140px;
}

.nav-desktop > .bloqueA > img {
    display: block;
    width: 100%;
}

.nav-desktop > .bloqueB {
    text-align: right;
    width: 100%;
}

.nav-desktop > .bloqueB > a {
    margin: 10px;
    padding: 5px;
    color: white;
    text-decoration: none;
}

.nav-mobile {
    display: none;
}

.nav-mobile-group {
    display: none;
}

@media only screen and (max-width: 800px) {
    .nav-mobile {
        display: block;
    }

    .nav-mobile-group {
        display: block;
    }

    .nav-desktop {
        display: none;
    }
}
